.calculadora
{
    position: fixed;
    top:50%;
    left:50%;
    background-color: rgb(8, 8, 8);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    font-size: 2rem;
    background-image: linear-gradient(rgb(49, 50, 50),rgb(63, 63, 63));   
    border: 2px solid #0c0c0c; 
    border-radius: 10px;
    padding: 20px;

}/*Fechamento calculadora*/
.tela
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3rem;
    width: 93%;
    height: 50px;
    margin-bottom: 20px;
    border: 3px solid #000009;
    padding: 10px;
    border-radius: 7;
    background-color: #3cb937;
    color: #0c0c0c;
}/*Fechamnto de tela*/
.botao
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linhas
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.operadores
{
    background-color: #0c0c0c;
    color:#f0f0f5;
    border:2px solid;

}
button{
    width: 50px;
    height: 50px;
    margin: 5px;
}
button:hover{
    background: rgb(157, 157, 251);
}
.outros
{
    background-color: rgb(208, 234, 8);
    color: #0b0b39;
    border: 2px solid #0c0c0c;
}
.Clear
{
    background-color: rgb(12, 12, 12);
    color: #f1f1f6;
    border: 2px solid #f7f4f4;
    width: 230px;
    cursor: pointer;
}
